body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger-container {
    display: none; 
    cursor: pointer;
}

.burger {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

#brandname {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: white(51, 51, 51, 0.7); 
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    height: 60px; 
    justify-content: space-around;
    align-items: center;
}

.navbar-section {
    font-size: 14px;
    font-family: 'Cormorant SC', serif;
}

.navbar-sectionlogo {
    display: flex;
    font-family: 'Cormorant SC', serif;   
}

.by-sectionlogo {
    text-transform: lowercase;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    margin-top: 48px;
}

.name-sectionlogo {
    display: flex;
    font-size: 35px;
    font-family: 'Cormorant SC', serif;   
}

.navbar a {
    color: grey;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .burger-container {
        display: block; 
        top: 40px;
        bottom: 20px;
        margin-left: 15px;
    }

    .navbar {
        position: absolute;
        left: -100%;
        top: 2rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        width: 100%;
        grid-row-gap: 25px;
        padding: 0;
        height: auto;
        z-index: 1;
    }

    #navbar-logo {
        display: none;
    }

    .navbar-section {
        display: flex;
        flex-direction: column;
    }

    .navbar.active {
        left: 0;
        padding: 14px 22px;
    }

    .navbar-row {
        display: flex;
        flex-direction: column;
    }

    .main-body {
        justify-content: center;
      }

    .change .burger:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .change .burger:nth-child(2) {
        opacity: 0;
    }

    .change .burger:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
    }

    .image-container {
        text-align: center;
    }

    .page2, .collage-container, .main-theJournal-container {
        margin-top: 10px;
    }

    .collage-item {
        width: 100%;
    }

    .contactusdiv1 {
        display: none; 
    }

    .contactus-body {
        width: 100%;
    }

    .contactusdiv2 {
        width: 100%; 
    }

}

.image-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.image-caption {
    position: absolute;
    bottom: 28%;
    font-family: 'Ephesis', cursive;
    font-size: 44px;
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px;
    margin-left: 10%;
    transform: translateY(50%);
    text-align: left;
}

.image-caption2 {
    position: absolute;
    bottom: 28%;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: rgb(56, 53, 53);
    padding: 10px;
    margin: 0;
    margin-left: 12%;
    transform: translateY(50%); 
    text-align: left;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

#navbar-start {
    flex: 0.5; 
    text-align: center;
}

#navbar-end {
    flex: 0.5; 
    text-align: center;
}

.collage-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 20px;
}

.collage-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2 {
    margin-top:60px;
    font-family: 'Cormorant Infant', serif;
    color: grey;
    margin-left:80px;
    margin-right:80px;
    text-align: center;
    font-size: 18px;
}

.view-collection {
    margin-top:0px;
    margin-bottom:40px;
    text-align: center;
    margin-left:80px;
    margin-right:80px;
    text-transform: uppercase;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.view-collection a:hover {
    color: black;
    text-decoration: underline;
}

.view-collection a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

/*the journal main page syles*/

.main-theJournal-content {
    display: flex;
    align-items: center;
}

.main-theJournal-content div:first-child {
    flex: 2; 
    padding: 10px;
}

.main-theJournal-content div {
    flex: 1;
    padding: 10px; 
}

.main-theJournal-content img {
    width: 100%;
    height: auto;
    display: block;
}

.main-theJournal-header {
    display: flex;
    text-align: left;
    align-items: center;
}

.main-theJournal-header div{
    flex: 1;
    padding: 20px; 
    color: grey;
}

.theJournal-header1st p{
    text-align: left;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 50px;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
}

.theJournal-header1st a{        
    text-align: left;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.theJournal-header1st a:hover {
    color: black;
    text-decoration: underline;
}

.thejournal-caption {
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
}

/*contactme styles*/

.contact-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*collections styles*/

#dressDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imgDress, #detailsDress {
    width: 48%;
}

#imgDress img {
    width: 100%;
    height: auto;
}

.dress-name {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin-bottom: 0%;
}

.add-to-cart-btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid black; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.description {
    color: gray;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    margin-top: 5%;
}

.backbutton {
    margin-top: 10%;
    margin-bottom: 5%;
}

.backbutton a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

.backbutton a:hover {
    color: grey;
    text-decoration: underline;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  

/*collections1 styles*/
.collection1-container {
    position: relative;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-button p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 18px;
}

.overlay-button a {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.hidden-paragraphs {
    display: none;
    margin-top: 20px;
    text-align: center;
    color: white;
}

.img1-container {
    position: relative;
    display: inline-block;
    margin: 20px; 
}

.overlay-button a:hover {
    color: grey;
    text-decoration: underline;
}

.collection1-imgcontainer {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.collection1-imgcaption {
    position: absolute;
    bottom: 70%;
    font-family: 'Cormorant Infant', serif;
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: black;
    margin: 0;
    transform: translateY(50%);
    text-align: center;
}

.collection1-imgcontainer img {
    width: 100%;
    height: auto;
    display: block;
}
 

/*contactus styles*/

.contactus-body {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.contact-us-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.contactusdiv1 h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 36px;
}

.contactusdiv1 p {
    font-family: 'Cormorant Infant', serif;
    color: grey;
    font-size: 20px;
}

iframe {
    width: 100%;
}

form {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    height: 100%;
  }

label {
    margin-bottom: 8px;
    margin-top: 5%;
    margin-left: 2%;
    color: grey;
    font-family: 'Tenor Sans', sans-serif;
  }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 0px;
    color: black;
    cursor: pointer;
  }

input:hover {
    background-color: none;
  }

.mymap {
    font-family: 'Tenor Sans', sans-serif;
  }

.form-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
    width: 100%;
  }

.inputbox {
    font-family: 'Tenor Sans', sans-serif;
    border: none; 
    border-bottom: 1px solid black; 
    margin-left: 8px;
  }

input[type="submit"] {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 5%;
  }

input[type="submit"]:hover {
    background-color: black;
    color: white;
}
    
.contactusdiv1 {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.contactusdiv2 {
    width: 48%;
    float: right;
    margin-left: 2%;
}
    
/*thejournal styles*/

.theJournal {
    margin-top:60px;
    margin-bottom:60px;
}

.journalName {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 40px;
}

.journalPhotocredit {
    font-family: 'Cormorant SC', serif;
    font-size: 16px;
    color: grey;
}

.journal-place {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 30px;
}

.thejournal-imgcontainer {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.thejournal-imgcaption {
    position: absolute;
    bottom: 60%;
    font-family: 'Cormorant Infant', serif;
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: white;
    margin: 0;
    transform: translateY(50%);
    text-align: center;
}

.thejournal-imgcontainer img {
    width: 100%;
    height: auto;
    display: block;
}

.main-theJournal-content p {
    margin: 5%;
}

.journal-description {
    font-family: 'Cormorant Infant', serif;
    font-size: 18px;
    color: grey;
}

/*ourstory styles*/
.page2 h2 {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
}

.ourstory-imgcontainer {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.ourstory-imgcaption {
    position: absolute;
    bottom: 75%;
    font-family: 'Cormorant Infant', serif;
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: white;
    transform: translateY(50%);
    text-align: center;
}

.ourstory-imgcontainer img {
    width: 100%;
    height: auto;
    display: block;
}

/*our services styles*/

.ourservices-imgcontainer {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.ourservices-imgcaption {
    position: absolute;
    bottom: 87%;
    font-family: 'Cormorant Infant', serif;
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: black;
    transform: translateY(50%);
    text-align: center;
}

.ourservices-imgcontainer img {
    width: 100%;
    height: auto;
    display: block;
}

.ourservices-contentcontainer {
    display: flex;
    align-items: center;
    text-align: center;
}

.ourservices-contentcontainer div:first-child {
    flex: 1; 
    padding: 10px;
    text-align: center;
}

.ourservices-contentcontainer div {
    flex: 1;
    padding: 10px; 
}

.logo {
    max-width: 100%;
}